<h1>Crear Usuario</h1>
<p>Cree un nuevo usuario.</p>
<form action="">
    <div>
        <label for="nombre">Nombre</label>
        <input id="nombre"
               name="nombre" type="text">
    </div>

    <div>
        <label for="biografia">Biografía</label>
        <textarea name="biografia"
                  id="biografia"
                  cols="30"
                  rows="3">
        </textarea>
    </div>
    <button type="reset">Resetear formulario</button>
    <button>Crear Usuario</button>
</form>

<a href="/Usuario/inicio">
    <button>Regresar</button>
</a>