<h1>Crear Usuario</h1>
<p>Cree un nuevo usuario.</p>
<form action="">
    <label for="nombre">Nombre</label>
    <input id="nombre" type="text">
</form>

<a href="/Usuario/inicio">
    <button>Regresar</button>
</a>